body{
    font-family: 'Orbitron', sans-serif;
}
.btn-secondary{
    background-color: navy;
}


.list-group{
    padding-top: 20px
}
.d-flex{
    padding-top: 10px
}
.imagemike{
    width: 100%
    margin-top: 115px;
    padding-top: 10px;
}
#profile{
    height:100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 4px solid 

}
#banner{
    background-image: url("images/space.jpeg");
    height: 100px;
    width: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.col-one{
    background-color: silver;
}
.Inbox-list{
    background-color: rgb(130, 232, 255);
}
.col-two{
    background-color: rgb(77, 134, 147);
}
#Welcome{
    padding-bottom: 5px
    padding-left: 5px;
    padding-top: 3px;
    text-align: center;
    
}